/** 
 * $Id: comments.css,v 1.1.2.1 2010/09/14 20:13:12 jmburnz Exp $
 */

/* Comment wrapper: wraps all comments and the comment form. */
#comments {}
#comments-title {}

/* Wrapper class for each individual comment. */
.comment {
  margin:0 0 1.5em;
}

/* Indentation */
.comment .indented {
  margin-left:60px;
}

/* Comment Title (H3) */
.comment-title {}
.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}
.comment-title a:hover,
.comment-title a:focus {
  text-decoration: underline;
}

/* Comment id (count with pound sign, see line 28 comment.tpl.php) 
   and comment "new" notification. */
.comment-id {}
.comment-title .new {
  color:  #FF8000;
}

/* User Picture */
.comment .user-picture {}
.comment .user-picture img {}

/* Submitted */
.comment .submitted {
  margin: .375em 0 0.75em;
}
.comment .submitted em {
  font-style: normal;
}
.comment .submitted a {}
.comment .submitted a:hover {}
.comment .submitted .author {}
.comment .submitted .time {}

/* Links */
.comment ul.links {
  display: block;
  text-align: right;
  padding: 0 1em 0 0;
}
.comment ul.links li {}
.comment ul.links li a {}

/* Core comment link classes. */
ul.links li.comment_reply a {}
ul.links li.comment_edit a {}
ul.links li.comment_delete a {}

/* UL link first and last classes. */
.comment ul.links li.first {}
.comment ul.links li.last  {}

/* Author */
.comment-by-anonymous   {}
.comment-by-article-author {}
.comment-by-viewer      {}

/* New */
.comment-new {}

/* Zebra */
.comment-odd  {}
.comment-even {}

/* Status */
.comment-unpublished {}

/* Themes the "Unpublished" text. */
.comment-unpublished .unpublished {}

/* Comment box wrapper on a seperate page. */
.section-comment .box {}
.section-comment .box .box-title {}

/* Comment box wrapper below content. */
#comments .box {}
#comments .box .box-title {}

/* Sytle comments by article type. */
.book-comments  {}
.blog-comments  {}
.forum-comments {}
.page-comments  {}
.poll-comments  {}
.story-comments {}
