/** 
 * $Id: html-elements.css,v 1.1.2.1 2010/09/14 20:13:12 jmburnz Exp $
 */
html {
  font-size:75%; /* 16px x 75% = 12px */
}
body {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
  line-height:1.5;
}
h1 {
  font-size:2em;
  margin:0 0 .5em;
  padding:0;
}
h2 {
  font-size:1.5em;
}
h3 {
  font-size:1.25em;
}
h4 {
  font-size:1.17em;
}
h5,
h6 {
  font-size:1em;
}
a img {
  border:none;
}
p {
  margin:0 0 1em;
  padding:0;
}
em,
dfn {
  font-style:italic;
}
ins {
  border-bottom:none;
  text-decoration:none;
}
pre,
code,
tt,
samp,
kbd,
var {
  font:1em "Lucida Console",Monaco,"DejaVu Sans Mono",monospace;
}
blockquote,q {
  font-style:italic;
  quotes:"" "";
}
blockquote {
  margin:0 0 1.5em;
  padding:0 0 0 3em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
}
blockquote p {
  margin:0;
}
strong,
dfn,
caption,
th {
  font-weight:700;
}

/* Lists */
ul,
ol {
  margin:0 0 1.5em 1.667em;
  padding:0;
}
ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin:0 0 0 1.667em;
}
ul {
  list-style-type:disc;
}
ul ul ul {
  list-style-type:square;
}
ol {
  list-style-type:decimal;
}
ol ol {
  list-style-type:lower-alpha;
}
ol ol ol {
  list-style-type:lower-roman;
}
ul ul,
ul ul ul ul {
  list-style-type:circle;
}
dt {
  font-weight:700;
}
dd {
  margin:0 0 1.5em 1.667em;
}
.item-list ul,
.item-list ol {
  margin:0 0 0 1.667em;
  padding:0;
}
