/** 
 * $Id: navigation.css,v 1.1.2.2 2010/10/14 05:38:00 jmburnz Exp $
 */

a {}
a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}

/* Global focus style for links. */
a:active,
a:focus {}

/* Primary and Secondary menus. */
.nav {
  clear:both;
  margin: 0;
}
.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}
.nav li a,
.nav .menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}
.nav .block {
  margin: 0;
  padding: 0;
}

/* Primary-links div wrapper */
#primary-menu {}

/* Class on the ul */
.primary-links {}

/* Modify the margin to set tab spacings. */
.primary-links li {}
.primary-links li a {}

/* Set pseudo class styles. */
.primary-links li a:link {}
.primary-links li a:visited {}
.primary-links li a:hover {}
.primary-links li a:focus {}
.primary-links li a:active {}

/* Primary first and last classes. */
.primary-links li.first {}
.primary-links li.last {}

/* Active trail classes. */
.primary-links li.active {}
.primary-links li.active-trail {}
.primary-links li.active-trail a {}

/* Secondary-links div wrapper */
#secondary-menu {}

/* Class on the ul */
.secondary-links {}

/* Modify the margin to set tab spacings. */
.secondary-links li {}
.secondary-links li a {}

/* Set pseudo class styles. */
.secondary-links li a:link {}
.secondary-links li a:visited {}
.secondary-links li a:hover {}
.secondary-links li a:focus {}
.secondary-links li a:active {}

/* Secondary first and last classes. */
.secondary-links li.first {}
.secondary-links li.last {}

/* Active trail classes. */
.secondary-links li.active {}
.secondary-links li.active-trail {}
.secondary-links li.active-trail a {}

/* Menus */
.menu,
.menu ul, 
.menu ul ul, 
.menu ul ul ul {}

/* Menu li styles */
.menu li {}

.menu li.collapsed {}
.menu li.expanded  {}
.menu li.leaf      {}

.menu li a:link,
.menu li a:visited {}
.menu li a:hover,
.menu li a:focus,
.menu li a:active   {}
.menu li.active a  {}
.menu li.active-trail a {}

.menu li.first {}
.menu li.last  {}

/* Breadcrumb */
#breadcrumb {
  padding-bottom: 1em;
}
#breadcrumb a {}
#breadcrumb a:link {}
#breadcrumb a:visited {}
#breadcrumb a:hover {}
#breadcrumb a:focus {}
#breadcrumb a:active {}

/* Skip Navigation */
#skip-nav {
  text-align: left;
  float: left;
  width: 160px;
}
#skip-nav.show-skip-link {
  text-align:right;
}
#skip-nav.show-on-focus {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto !important;
  z-index: 50;
}
#skip-nav.show-on-focus a,
#skip-nav.show-on-focus a:link,
#skip-nav.show-on-focus a:visited,
#skip-nav.show-on-focus a:focus,
#skip-nav.show-on-focus a:hover,
#skip-nav.show-on-focus a:active {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius:0 0 10px 10px;
}
#skip-nav.show-on-focus a:hover,
#skip-nav.show-on-focus a:active,
#skip-nav.show-on-focus a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  outline: 0;
  padding: 1px 10px 2px 10px;
}

/* Tabs */
.local-tasks {
  margin-bottom:1em;
}
ul.primary {
  border-bottom-color:#CCC;
  margin:1.5em 0 0;
  padding:0 0 .2em .3em;
}
ul.primary li a {
  background-color:#F5F5F5;
  margin-right:.08em;
  border-color:#CCC;
  padding:.1em .75em .2em;
}
.local-tasks ul.primary li a:hover {
  background-color:#F7F7F7;
  border-color:#DDD;
}
.local-tasks ul.primary li.active a {
  background-color:#FFF;
  border-bottom-color:#FFF;
}
ul.secondary {
  border-bottom:1px solid #CCC;
  margin:1em 0 0;
  padding:0 .3em 1em;
}
ul.secondary li {
  border-right:0;
  list-style:none;
  padding:0 2em 0 0;
}
ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom:none;
  text-decoration:underline;
}

/* Pager */
ul.pager {
  clear:both;
  margin:0;
  text-align:center;
}
.item-list ul.pager li {
  margin:0;
}
ul.pager li {
  background-image:none;
  display:inline;
  list-style-type:none;
  padding:.5em;
}
ul.pager li.pager-current {
  font-weight:700;
}
.block ul.pager li {
  margin:0;
}

/* Theme the various states of pager links. */
ul.pager li a:link    {}
ul.pager li a:visited {}
ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item     {}
ul.pager li.first          {}
ul.pager li.last           {}
ul.pager li.pager-current  {}
ul.pager li.pager-first    {}
ul.pager li.pager-previous {}
ul.pager li.pager-next     {}
ul.pager li.pager-last     {}


/* User menu */
#user-menu {
  float: right;
  width: 760px;
}
#user-menu ul {
  float: right;
  margin: 0;
}
#user-menu ul li {
  display:inline;
  float:left;
  margin: 0 0 0 1em;
  padding: 0;
}

/* Superfish Skin */
.sf-menu {
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
}
.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: .75em 1em;
  text-decoration: none;
}
.sf-menu a:link,
.sf-menu a,
.sf-menu a:visited  {
}
/* Theme child items differently */
.nav .sf-menu > li > a:link,
.nav .sf-menu > li > a,
.nav .sf-menu > li > a:visited  {
}
.sf-menu li {
  background: transparent;
}
.sf-menu li li {
}
.sf-menu li li li {
}
.sf-menu li li li li {
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}

/* Superfish Layout Overrides */
.block-superfish .block-inner,
.block-superfish .block-inner .content {
  padding: 0;
  margin: 0;
}
.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}
.sf-vertical,
.sf-vertical li {
  width: 100%;
}
.sf-vertical li {
  border-bottom: 1px solid #fff;
}
.sf-vertical li.last {
  border-bottom: none;
}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top:  0;
  margin: 0;
  padding: 0;
}
.sf-vertical li a {
  padding: 0 10px;
}
.sf-navbar {
  padding-bottom: 0 !important;
}
